*{
    font-family: 'Merriweather', serif;
}

html{
    scroll-behavior: smooth;
}

body a{
    text-decoration: none; 
    color: inherit;  
}

body{
    position: relative; 
}

nav{
    display: block;  
    position: fixed, top; 
    width: 100%; 
    height: 70px; 
    background-color:darkblue; 
    margin: 0px; 
    padding: 0px;  
}

.pshsLogo{
    position: relative; 
    height: 57px;
    width: 430px;
    padding: 5px; 
    float: left; 
}

[class*="topNav"]{
    list-style: none; 
    padding-top: 35px; 
    padding-bottom: 25px; 
    padding-left: 12px; 
    padding-right: 12px;   
    color: white; 
    float: right; 
    font-size: 16px; 
    text-decoration: none; 
}

[class*="topNav"]:hover{
    color: orange;
}
.topNavDrop1{
    position: relative; 
    display: inline-block; 
    cursor: pointer;  
}

.aboutUs-content{
    display: none; 
    position: absolute; 
    background-color: darkblue;
    min-width: 160px;
    height: 120px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
}

.aboutUs-content a{
    float: none; 
    color: white; 
    background-color: inherit;
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
    text-align: left;
}

.aboutUs-content a:hover{
    background-color: royalblue; 
}

.topNavDrop1:hover .aboutUs-content{
    display: block; 
}

.topNavDrop3{
    position: relative; 
    display: inline-block; 
    cursor: pointer; 
}

.campus-content{
    display: none; 
    position: absolute; 
    background-color: darkblue;
    min-width: 160px;
    height: 120px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
}

.campus-content a{
    float: none; 
    color: white; 
    background-color: inherit;
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
    text-align: left;
}

.campus-content a:hover{
    background-color: royalblue;
}

.topNavDrop3:hover .campus-content{
    display: block; 
}

.text-container-1-outer{
    float: left;
    margin-top: 20px; 
    margin-left: 10px; 
    margin-right: 10px; 
    margin-bottom: 12px;  
    position: relative; 
    overflow: auto; 
    width: 76%; 
    border: hidden; 
    border-radius:  15px 50px 15px 15px; 
    background: linear-gradient(90deg, rgba(255,169,9,1) 29%, rgba(249,191,78,1) 55%, rgba(255,247,29,1) 100%);  
}

.announcements{
    padding: 12px;
    background-color:rgb(31, 63, 156); 
    color: white; 
    font-size: 20px;
}

.nce{
    float: left; 
    margin-top: 10px; 
    margin-left:7px; 
    margin-right: 7px; 
    margin-bottom: 10px; 
    width: 300px; 
    height: 135px; 
    border: hidden; 
    border-radius: 12px; 
    background-color: ghostwhite;
}

.nce-img{
    width: 280px; 
    height: 80px; 
    padding-left: 12px; 
    padding-right: 12px; 
    position: top;  
}

.nce-text{
    font-size: 16px; 
    text-align: center; 
}

.nce a{
    text-decoration: none; 
}


.treegrowing{
    float: left; 
    display: block; 
    margin-top: 10px; 
    margin-left:7px; 
    margin-right: 7px; 
    margin-bottom: 10px; 
    width: 300px; 
    height: 135px; 
    border: hidden; 
    border-radius: 12px; 
    background-color: ghostwhite;
}

.tree-img{
    width: 280px; 
    height: 80px; 
    padding-left: 12px; 
    padding-right: 12px; 
    position: top; 
}

.tree-text{
    font-size: 16px; 
    text-align: center;  
}

.treegrowing a{
    text-decoration: none; 
}

.rememberdates{
    float: left; 
    display: block; 
    margin-top: 10px; 
    margin-left:7px; 
    margin-right: 7px; 
    margin-bottom: 10px; 
    width: 300px; 
    height: 135px; 
    border: hidden; 
    border-radius: 12px; 
    background-color: ghostwhite;
}

.dates-img{
    width: 280px; 
    height: 80px; 
    padding-left: 12px; 
    padding-right: 12px; 
    position: top; 
}

.dates-text{
    font-size: 16px; 
    text-align: center; 
}

.rememberdates a{
    text-decoration: none; 
}

.text-container-2-outer{
    overflow: auto;
    float: left; 
    margin-top: 20px; 
    margin-left: 10px; 
    margin-right: 10px; 
    margin-bottom: 12px;  
    width: 20%; 
    height: 550px; 
    border: hidden; 
    border-radius:  15px 50px 15px 15px;
    background-color: slategray;
    transform:translateY(-230px); 
}

.latest-reads{
    padding: 12px;
    background-color:rgb(31, 63, 156); 
    color: white; 
    font-size: 20px;
}

.pshs-news{
    float: left; 
    overflow:hidden;
    margin-top: 10px; 
    margin-left:7px; 
    margin-right: 7px; 
    margin-bottom: 10px; 
    width: 94%; 
    height: 210px; 
    border: hidden; 
    border-radius: 12px; 
    background-color: ghostwhite;
}

.from-pshs{
    font-size: 15px; 
    margin: 5px; 
}

.pshs-news-img{
    width: 228px; 
    height: 100px; 
    padding: 4px; 
    position: top, center; 
}

.news-head{
    font-size: 15px; 
    margin: 5px;
}

.tts-news{
    display: block; 
    float: left; 
    overflow:hidden;
    margin-top: 10px; 
    margin-left:7px; 
    margin-right: 7px; 
    margin-bottom: 10px; 
    width: 94%; 
    height: 240px; 
    border: hidden; 
    border-radius: 12px; 
    background-color: ghostwhite;
}

.from-tts{
    font-size: 15px; 
    margin: 5px;
}

.tts-news-img{
    width: 228px; 
    height: 100px; 
    padding: 4px; 
    position: top, center; 
}

.tts-head{
    font-size: 15px; 
    margin-top: 5px; 
    margin-bottom: 0px;   
    text-align: center; 
}

.tts-author{
    margin-top: 3px; 
    font-size: 12px; 
    position: center; 
    text-align: center; 
}

.tts-news-text{
    font-size: 11px;
    text-align:center; 
}

.text-container-3-outer{
    overflow: auto;
    float: left; 
    margin-top: 10px; 
    margin-left: 10px; 
    margin-right: 10px; 
    margin-bottom: 12px;  
    width: 76%; 
    height: 370px; 
    border: hidden; 
    border-radius:  15px 50px 15px 15px;
    background-color: slategray;
}

.events{
    padding: 12px;
    background-color:rgb(31, 63, 156); 
    color: white; 
    font-size: 20px;
}

.current-events{
    float: left; 
    margin-top: 10px; 
    margin-left:16px; 
    margin-right: 16px; 
    margin-bottom: 10px; 
    width: 280px; 
    height: 300px; 
    border: hidden; 
    border-radius: 12px; 
    background-color: ghostwhite;
}

.cEvents-head{
    font-size: 18px; 
    text-align: left 
}

.cEvents-img{
    width: 260px; 
    height: 80px; 
    padding-left: 12px; 
    padding-right: 12px; 
    position: top; 
}

.cEvents-title{
    font-size: 17px; 
    text-align: center; 
}

.cEvents-text{
    font-size: 11px; 
    text-align: left; 
}

.bulletin{
    float: left; 
    margin-top: 10px; 
    margin-left:16px; 
    margin-right:16px; 
    margin-bottom: 10px; 
    width: 280px; 
    height: 300px; 
    border: hidden; 
    border-radius: 12px; 
    background-color: ghostwhite;
}

.bulletin-head{
    font-size: 18px; 
    text-align: left 
}

.b-img{
    width: 260px; 
    height: 80px; 
    padding-left: 12px; 
    padding-right: 12px; 
    position: top;
}

.b-title{
    font-size: 17px; 
    text-align: center;
}

.b-text{
    font-size: 10.5px; 
    text-align: left; 
}

.uEvents{
    float: left;
    margin-top: 10px; 
    margin-left:16px; 
    margin-right:16px; 
    margin-bottom: 10px; 
    width: 280px; 
    height: 300px; 
    border: hidden; 
    border-radius: 12px;
    background-color: ghostwhite; 
}

.uEvents-head{
    font-size: 18px; 
    text-align: left
}

.uEvents-img{
    width: 260px; 
    height: 80px; 
    padding-left: 12px; 
    padding-right: 12px; 
    position: top
}

.uEvents-title{
    font-size: 17px; 
    text-align: center;
}

.uEvents-text{
    font-size: 14px; 
    text-align: left;
}


